body,html {
    background-image: url('./Imgs/bg2.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%; /* Stretches the image to fit both width and height */
    background-position: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
  }
  
  a {
    text-decoration: none   ; /* Removes underline, overline, or strikethrough */
    all: unset; /* Optionally removes all inherited styles */
  }
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  .container {
    width: 80%;
    max-width: 800px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
  }
  
  .header {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .question, .question h2 {
    font-size: 18px;
    color: #555;
    margin: 20px 0;
  }
  
  .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
  }
  
  .option {
    flex: 1 1 45%;
    max-width: 45%;
    background-color: #efefef;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    border: 2px solid transparent;
    transition: transform 0.2s, border-color 0.2s;
  }
  
  .option:hover {
    transform: scale(1.05);
    border-color: #ddd;
  }
  
  .timer {
    font-size: 20px;
    color: purple;
    background-color: #eae0f8;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 20px auto;
  }
  
  /* Specific colors for options */
  .red {
    background-color: #f44336;
    color: white;
  }
  
  .blue {
    background-color: #2196F3;
    color: white;
  }
  
  .yellow {
    background-color: #FFC107;
    color: black;
  }
  
  .green {
    background-color: #4CAF50;
    color: white;
  }
  